.portfolio__uppertitle {
  margin-bottom: 70px;
  @include tablet {
    margin-bottom: 44px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--indent);
}

.portfolio__item {
  @include tablet {
    flex-basis: calc(
      (100% - var(--indent) * (var(--items) - 1)) / var(--items)
    );
  }

  @include desktop {
    --items: 4;
  }
}
